body {
  background-color: #000000;
  color: #000;
}

h1 {
  background-color: #000000;
  color: green;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  text-align: center;
}

.box {
  background-color: #000000;
  display: flex;
  height: 100%;
  width: 100%;
}

.board {
  margin: auto;
  position: relative;
  height: 500px;
  width: 500px;
  background-image: url("http://i.imgur.com/oHDcoDZ.jpg");
}

.square1 {
  float: left;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}
.square2 {
  float: left;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
  }
.square3 {
  float: right;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}
.square4 {
  float: left;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}
.square5 {
  float: left;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}
.square6 {
  float: right;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}
.square7 {
  float: left;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}
.square8 {
  float: left;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}
.square9 {
  float: right;
  width: 33.3333%;
  height: 33.3333%;
  background-color: rgba(255, 255, 255, 0.0);
}

@media (max-width: 500px) {
  .board {
    background-image: url("http://i.imgur.com/OI1rBFn.jpg");
    height: 240px;
    width: 240px;
  }
}
